---
import PageLayout from '../layouts/PageLayout.astro';
import Card from '../components/Card.astro';
---

<PageLayout title="Welcome to Astro.">
	<main>
		<h1>hello</h1>
		<p>Welcome to Pipeline Applets</p>
	</main>
</PageLayout>
