---
export interface Props {
  columns: string[];
  data: any[];
}

const { columns, data } = Astro.props;
---

<div class="relative overflow-x-auto mb-8">
  <table class="w-full text-left">
    <thead class="uppercase bg-gray-100">
      {
        columns.map((column) => (
          <th scope="col" class="px-2 py-1">
            {column}
          </th>
        ))
      }
    </thead>
    <tbody class="text-sm">
      {
        data.map((row) => (
          <tr class="border-t">
            {columns.map((column) => (
              <td class="px-2 py-1">{row[column]}</td>
            ))}
          </tr>
        ))
      }
    </tbody>
  </table>
</div>
